<div class="d-flex justify-content-center" style= "text-align:center">
    <ul style="list-style-type:none;">
    {{#events}}
    <li class="card bg-secondary m-3" style="width: 26rem;">
    <div class="card-body">
        <h2 class="card-text">{{ title }}</h2>
        <p class="card-text">{{ description }}</p>
    </div>
        
    </li>
    {{/events}}
    </ul>
</div>
